In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('02_big_data.csv')

In [3]:
df.head()

,state,route,link,busname,bustype,departing_time,duration,reaching_time,price,star_rating,seats_available
0,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 351880,VENNELA (A.C. SLEEPER),00:40,05h 25m,06:05,737.0,4.7,22 Seats available
1,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3563,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:00,06h 15m,07:15,412.0,3.8,33 Seats available
2,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 35266,VENNELA (A.C. SLEEPER),01:25,05h 24m,06:49,737.0,3.9,19 Seats available
3,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3590,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:45,05h 30m,07:15,412.0,4.5,33 Seats available
4,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3058,VENNELA (A.C. SLEEPER),02:20,05h 20m,07:40,781.0,2.9,24 Seats available

In [4]:
df.describe()

              price   star_rating
count  19605.000000  19605.000000
mean     723.785797      3.413099
std      655.458615      0.913655
min       48.000000      0.000000
25%      356.000000      3.000000
50%      550.000000      3.500000
75%      850.000000      4.000000
max    11000.000000      5.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19605 entries, 0 to 19604
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state            19605 non-null  object
 1   route            19605 non-null  object
 2   link             19605 non-null  object
 3   busname          19605 non-null  object
 4   bustype          19605 non-null  object
 5   departing_time   19605 non-null  object
 6   duration         19605 non-null  object
 7   reaching_time    19605 non-null  object
 8   price            19605 non-null  float64
 9   star_rating      19605 non-null  float64
 10  seats_available  19605 non-null  object
dtypes: float64(2), object(9)
memory usage: 1.6+ MB

In [6]:
df.isnull().sum()

state              0
route              0
link               0
busname            0
bustype            0
departing_time     0
duration           0
reaching_time      0
price              0
star_rating        0
seats_available    0
dtype: int64

In [9]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [state, route, link, busname, bustype, departing_time, duration, reaching_time, price, star_rating, seats_available]
Index: []

In [10]:
df.drop_duplicates(inplace=True)

In [11]:
df.head()

,state,route,link,busname,bustype,departing_time,duration,reaching_time,price,star_rating,seats_available
0,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 351880,VENNELA (A.C. SLEEPER),00:40,05h 25m,06:05,737.0,4.7,22 Seats available
1,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3563,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:00,06h 15m,07:15,412.0,3.8,33 Seats available
2,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 35266,VENNELA (A.C. SLEEPER),01:25,05h 24m,06:49,737.0,3.9,19 Seats available
3,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3590,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:45,05h 30m,07:15,412.0,4.5,33 Seats available
4,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3058,VENNELA (A.C. SLEEPER),02:20,05h 20m,07:40,781.0,2.9,24 Seats available

In [12]:
df.rename(columns={'seats_available': 'seat_availablity'},inplace=True)

In [13]:
df.columns

Index(['state', 'route', 'link', 'busname', 'bustype', 'departing_time',
       'duration', 'reaching_time', 'price', 'star_rating',
       'seat_availablity'],
      dtype='object')

In [14]:
df['seat_availablity'] = df['seat_availablity'].str.extract(r'(\d+)').astype(int)

In [15]:
df

,state,route,link,busname,bustype,departing_time,duration,reaching_time,price,star_rating,seat_availablity
0,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 351880,VENNELA (A.C. SLEEPER),00:40,05h 25m,06:05,737.0,4.7,22
1,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3563,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:00,06h 15m,07:15,412.0,3.8,33
2,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 35266,VENNELA (A.C. SLEEPER),01:25,05h 24m,06:49,737.0,3.9,19
3,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3590,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:45,05h 30m,07:15,412.0,4.5,33
4,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3058,VENNELA (A.C. SLEEPER),02:20,05h 20m,07:40,781.0,2.9,24
...,...,...,...,...,...,...,...,...,...,...,...
19600,West Bengal,Habra to Heria,https://www.redbus.in/bus-tickets/habra-to-heria,WBTC (CTC) HABRA-DIGHA via Bally - 26|12:45,Non AC Seater (2+3),12:45,03h 55m,16:40,130.0,4.0,47
19601,West Bengal,Habra to Heria,https://www.redbus.in/bus-tickets/habra-to-heria,SBSTC-HABRA - DIGHA - VIA - NIBEDITA SETU - 04...,Non AC Seater (2+3),04:00,20h 00m,00:00,140.0,4.0,28
19602,West Bengal,Habra to Heria,https://www.redbus.in/bus-tickets/habra-to-heria,SBSTC-HABRA - DIGHA - VIA - NIBEDITA SETU - 05...,Non AC Seater (2+3),05:40,18h 20m,00:00,140.0,4.0,41
19603,West Bengal,Midnapore to Kolkata Airport,https://www.redbus.in/bus-tickets/midnapore-to...,WBTC (CTC) Habra-Midnapur - 194|14:45,Non AC Seater (2+3),14:45,02h 55m,17:40,111.0,4.0,48
19604,West Bengal,Midnapore to Kolkata Airport,https://www.redbus.in/bus-tickets/midnapore-to...,WBTC (CTC) Habra-Midnapur - 194|15:40,Non AC Seater (2+3),15:40,03h 00m,18:40,111.0,3.8,16

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19577 entries, 0 to 19604
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             19577 non-null  object
 1   route             19577 non-null  object
 2   link              19577 non-null  object
 3   busname           19577 non-null  object
 4   bustype           19577 non-null  object
 5   departing_time    19577 non-null  object
 6   duration          19577 non-null  object
 7   reaching_time     19577 non-null  object
 8   price             19577 non-null  float64
 9   star_rating       19577 non-null  float64
 10  seat_availablity  19577 non-null  int64
dtypes: float64(2), int64(1), object(8)
memory usage: 1.8+ MB

In [18]:
df.to_csv('03_cleaned_data.csv', index=False)